.env
node_modules/
db/
sync.lock
dist/
rethinkdb_data/
ipfs_data/
mongodb_data/
__pycache__
lyrad
lyra-cli
mongo_*
idanodejs/
public/bootstrap.zip
mongodb_data_testnet
keys/public.pem
keys/private.pem
log
errors
idanode_bootstrap.gz